.header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem;
}

.pp {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem;
}

.cart {
  display: flex;
  align-items: center;
  padding: 5px;
}

.gift {
  display: flex;
  align-items: center;
  padding: 5px;
}

.cart-icon {
  width: 100px;
  height: 100px;
}

.gift-icon {
  width: 100px;
  height: 100px;
}

.logo {
  width: 75%;
}

.logo img {
  width: 100%;
  height: auto;
}