.header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem;
}

.pp {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem;
}

.cart {
  display: flex;
  align-items: center;
  padding: 5px;
}

.gift {
  display: flex;
  align-items: center;
  padding: 5px;
}

.cart-icon {
  width: 100px;
  height: 100px;
}

.gift-icon {
  width: 100px;
  height: 100px;
}

.logo {
  width: 75%;
}

.logo img {
  width: 100%;
  height: auto;
}

#netela-container {
  position: relative;
  height: 100vh;
}

#netela {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.8s ease-in-out;
}

.netela-animation {
  transform: translate(-50%, 200%);
}

.person-animation {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  background-image: url(../Images/netelaAnimation-removebg-preview.png);
  background-size: cover;
  animation-name: personAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes personAnimation {
  0% {
    transform: translateX(-50%) translateY(0);
  }

  100% {
    transform: translateX(-50%) translateY(200%);
  }
}

.reset-animation {
  animation-name: none;
  transform: translateX(-50%) translateY(0);
}

.home {
  background-color: black;
  color: white;
  height: 100vh;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

.shop-now-btn {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.animated-objects {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.animated-objects img {
  width: 150px;
  margin: 0 10px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.menu.open {
  opacity: 1;
  visibility: visible;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 1rem;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #c69cf4;
}

.menu-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 9999;
}

.menu-toggle:focus {
  outline: none;
}

/*About page*/
.about-page {
  background: linear-gradient(to right, #6c16c7, #4f1091);
  padding: 40px;
  color: #fff;
}

.title {
  font-size: 32px;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  margin-bottom: 40px;
}

.team-members {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.team-member {
  text-align: center;
  width: 30%;
}

.icon-container {
  background-color: #320a5c;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color:#fa820a;
  font-size: 40px;
}

.name {
  font-size: 24px;
  margin: 10px 0;
}

.designation {
  font-size: 16px;
  color: #c69cf4;
}

.services {
  display: flex;
  justify-content: space-between;
}

.service {
  text-align: center;
  width: 30%;
}

.service-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
}

.service-description {
  font-size: 16px;
  color: #fff;
}

.icon-container:hover {
  transform: scale(1.1);
}

.icon-container:active {
  transform: scale(0.9);
}

.service:hover .icon-container {
  transform: rotate(360deg);
}

.service:active .icon-container {
  transform: scale(0.9);
}

/*shop page*/
.shop-page {
  background: linear-gradient(to right, rgb(250, 130, 10), rgb(300, 200, 0));
  padding: 20px;
  text-align: center;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
}

.product-item {
  background-color: #c69cf4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-item h3 {
  color: #4f1091;
  font-size: 18px;
  margin-bottom: 5px;
}

.product-item p {
  color: #320a5c;
  font-size: 16px;
  margin-bottom: 10px;
}

.product-item button {
  background-color: #6c16c7;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-item button:hover {
  background-color: #4f1091;
}